
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie info - Contact</title>

	<!-- css link -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">


	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<div id="wrapper">
		<%- include('partials/header') %>

		<h1 id="contactH1">Contact Us</h1>

		<main>

			

			<section id="formSectionContainer">
				<form id="contactForm" method="post">
					<div class="contactFormField">
							<input 
								class="contactFormInput"
								name="name" 
								type="text"  
								placeholder="Name"
								value="<%= typeof values != 'undefined' ? values.name: '' %>"
							>
					</div>

					<div class="contactFormField">
						<input 
							class="contactFormInput"
							name="surname" 
							type="text"  
							placeholder="Surname"
							value="<%= typeof values != 'undefined' ? values.surname: '' %>"
						>
					</div>

					<div class="contactFormField">
						<input 
							class="contactFormInput"
							name="email" 
							type="text"  
							placeholder="Email"
							value="<%= typeof values != 'undefined' ? values.email: '' %>"
						>
					</div>

					<div class="contactFormField">
						<input 
							class="contactFormInput"
							name="subject" 
							type="text"  
							placeholder="Subject"
							value="<%= typeof values != 'undefined' ? values.subject: '' %>"
						>
					</div>

					<div class="contactFormField">
						<textarea class="contactFormTxtArea" name="message" placeholder="Write your message here"><%= typeof values != 'undefined' ? values.message : '' %></textarea>
					</div>

					<button id="sendButton" type="submit">Send</button>

				</form> <!-- #ContactForm end -->

				<!-- returnMessageContainer after client side validation -->
				<div id="returnMessageContainerClient">
						<h1 id="returnMessageH1Client"></h1>

						<h2 id="returnMessageH2Client"></h1>

					<!-- <ul id="returnMessagesListClient">
							<li class="returnMessage"><span class="exclamationMark">!</span><br></li>
					</ul> -->

					<ul id="returnMessagesListClient"></ul>

					<div id="returnMessageTemplate">
						<li class="returnMessage">
							<span class="exclamationMark">!</span><br>
						</li>
					</div>

					<p id="redirectMessageContainer"></p>

				</div> <!-- #returnMessageContainer -->
				<!-- returnMessageContainer after client side validation end -->
				
				<!-- returnMessageContainer after server side validation -->
				<% if( typeof return_messages != 'undefined'){ %>
					<div id="returnMessageContainerServer">

						<% if( typeof return_message_h1 != 'undefined'){ %>
							<h1 id="returnMessageH1Server"><%= return_message_h1 %></h1>
						<% } %>

						<% if( typeof return_message_h2 != 'undefined'){ %>
							<h2 id="returnMessageH2Server"><%= return_message_h2 %></h1>
						<% } %>

						<ul id="returnMessagesListServer">
							<% return_messages.forEach(return_message => { %>
								<li class="returnMessage"><%= return_message %><span class="exclamationMark">!</span><br></li>
							<% }) %> <!-- return_messages.forEach END -->
						</ul>
					</div> <!-- #returnMessageContainer -->
				<% } %> <!-- if( typeof return_messages END) -->
				<!-- returnMessageContainer after server side validation END -->

			</section> <!-- #formSectionContainer END -->

		</main>

	</div> <!-- #wrapper end -->

	<%- include('partials/footer') %>
</body>

	<!-- Javascript link -->
	<script src="/javascript/js.js"></script>
	<script src="/javascript/contact.js"></script>

</html>