
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie info - Contact</title>

	<!-- css link -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="header.css">

	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<div id="wrapper">
		<%- include('partials/header') %>

		<main>

			<h1 id="contactH1">Contact Us</h1>

			<div id="formSectionContainer">
				<form id="contactForm" method="post">
					<div class="contactFormField">
							<input 
								class="contactFormInput"
								name="name" 
								type="text"  
								placeholder="Name"
								value="<%= typeof values != 'undefined' ? values.name: '' %>"
							>
					</div>

					<div class="contactFormField">
						<input 
							class="contactFormInput"
							name="surname" 
							type="text"  
							placeholder="Surname"
							value="<%= typeof values != 'undefined' ? values.surname: '' %>"
						>
					</div>

					<div class="contactFormField">
						<input 
							class="contactFormInput"
							name="email" 
							type="text"  
							placeholder="Email"
							value="<%= typeof values != 'undefined' ? values.email: '' %>"
						>
					</div>

					<div class="contactFormField">
						<input 
							class="contactFormInput"
							name="subject" 
							type="text"  
							placeholder="Subject"
							value="<%= typeof values != 'undefined' ? values.subject: '' %>"
						>
					</div>

					<div class="contactFormField">
						<textarea class="contactFormTxtArea" name="message" placeholder="Write your message here"><%= typeof values != 'undefined' ? values.message : '' %></textarea>
					</div>

					<button id="sendButton" type="submit">Send</button>

				</form> <!-- #ContactForm end -->

					<div id="returnMessageContainer">
							<h1 id="returnMessageH1"></h1>

							<h2 id="returnMessageH2"></h1>

						<ul>
								<li class="returnMessage"><span class="exclamationMark">!</span><br></li>
						</ul>
					</div> <!-- #returnMessageContainer -->
				
				<% if( typeof return_messages != 'undefined'){ %>
					<div id="returnMessageContainer">

						<% if( typeof return_message_h1 != 'undefined'){ %>
							<h1 id="returnMessageH1"><%= return_message_h1 %></h1>
						<% } %>

						<% if( typeof return_message_h2 != 'undefined'){ %>
							<h2 id="returnMessageH2"><%= return_message_h2 %></h1>
						<% } %>

						<ul>
							<% return_messages.forEach(return_message => { %>
								<li class="returnMessage"><%= return_message %><span class="exclamationMark">!</span><br></li>
							<% }) %> <!-- return_messages.forEach end -->
						</ul>
					</div> <!-- #returnMessageContainer -->
				<% } %> <!-- if( typeof return_messages END) -->
			</div> <!-- #formSectionContainer END -->

			<div id="testContainer"></div>

		</main>

		<%- include('partials/footer') %>

	</div> <!-- #wrapper end -->
</body>

	<!-- Javascript link -->
	<script src="/javascript/js.js"></script>
	<script src="/javascript/contact.js"></script>

</html>