<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie info - Home</title>

	<!-- css link -->
	<link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/index.css">

	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	
	<% heroImage.forEach(heroImage =>{ %>
	<div class="hero-image" style='background: url("/images/movie_scene/<%= heroImage.movie_scene %>") no-repeat; background-attachment: fixed; background-size: cover;'>
	<% }); %>
        <div class="wrapper">

			<%- include('partials/header') %>
					
			<%- include('partials/hero') %>
            <main>
                <h2 class="curated-headline">Curated Movie List</h2>
                <section class="movie-grid">
					
                    <div class="movie-container">

						<% if(typeof movies != 'undefined'){ %>
							<% if(movies.length == 0){ %>
								<h2>There is no movie at the moment</h2>
							<% } %>
							<% movies.forEach(movie =>{ %>
							<div class="movie-preview">
								<img href="/info/<%= movie.movie_id %>"><img src="images\movie_posters\<%= movie.movie_img %>" alt="Movie Poster" class="movie-poster">
								<a href="/info/<%= movie.movie_id %>"><div class="overlay">
									<div class="resume-text"><%= movie.movie_resume %></div>
								</div></a>
								<div class="movie-preview-text-box">
									<h5 class="movie-title-preview"><%= movie.movie_title %></h5>
									<p class="movie-genre-preview"><%= movie.movie_genre %></p>
									<a href="/info/<%= movie.movie_id %>"><button class="more-btn">More</button></a>
								</div>
							</div>
						<% }); %>
						<% } %>

                    </div>
                    
                </section>
            </main>

        </div> <!-- #wrapper end -->
		<%- include('partials/footer') %>
	</div>

</body>
    
<!-- Javascript link -->
<script src="/javascript/js.js"></script>

</html>