<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie infov2 - Infov2</title>

	<!-- css link --> 
	<link rel="stylesheet" href="/css/infov2.css">

	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<div id="wrapper"> 

		<main>

				<!-- <% if(typeof info != 'undefined') { %>
			
				<% info.forEach(info => { %>

				<div id="outerBoxv2">
				
					<div id="moviePosterv2">
						<img src="/images/movie_posters/<%= info.movie_img %>">
					</div>
			
					<div id="innerBoxv2">
			
						<div id="movieTrailerv2">
							<%- info.movie_trailer %>
						</div>
			
						<div id="movieTextv2">
							<h3><%= info.movie_title %></h3>
							<p><%= info.movie_resume %></p>		 -->
							<!-- <i><p id="movieDate">Release date: <%= info.movie_premier_date %></p></i> -->
							<!-- <i><p id="movieDate">Release date: <i>16 July 1988</i></p></i>
							<p id="movieDirector">Director: <i>Katsuhiro Ôtomo</i></p>
							<p id="movieCast">Cast: <i>Mitsuo Iwata, Nozomu Sasaki, Mami Koyama...</i></p>
						</div>
			
					</div>
			
				</div>

				<% }) %>
						
				<% } %>  -->

			</div>

		</main>

		<footer>

		</footer>

	</div> <!-- #wrapper end -->
</body>

	<!-- Javascript link -->
	<script src="/javascript/js.js"></script>

</html>