
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie info - Info</title>

	<!-- css link --> 
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/info.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/footer.css">

	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<div id="wrapper"> 
		<%- include('partials/header') %>

		<main>
			<% if(typeof chosenMovie != 'undefined') { %>
				<% chosenMovie.forEach(chosenMovie => { %>
					<% let premierDate = new Date(chosenMovie.movie_premier_date); %>
					<div id="outerBoxv2">
						<div id="moviePosterv2">
							<img src="/images/movie_posters/<%= chosenMovie.movie_img %>">
						</div>
			
						<div id="innerBoxv2">
							<div id="movieTrailerv2">
								<%- chosenMovie.movie_trailer %>
							</div>
			
							<div id="movieTextv2">
								<h3><%= chosenMovie.movie_title %></h3>
								<p><%= chosenMovie.movie_resume %></p>		
								
								<!-- 16 July 1988 -->
								<p id="movieGenre">Genre: <i><%= chosenMovie.movie_genre %></i></p>
								<p id="movieDate">Release date: <i><time><%= dateAndTime.format(premierDate, 'DD MMMM YYYY') %></time></i></p>
								<p id="movieDirector">Director: <i><%= chosenMovie.movie_director %></i></p>
								<p id="movieCast">Cast: <i><%= chosenMovie.movie_cast %></i></p>
							</div>
						</div>
					</div>
				<% }) %>
			<% } %> <!-- if(typeof chosenMovie...) end -->
		</main>

	</div> <!-- #wrapper end -->

	<%- include('partials/footer') %>
</body>

	<!-- Javascript link -->
	<script src="/javascript/js.js"></script>

</html>